.checkoutProduct {
    display: flex;
    margin: 20px 0;
}

.product__info {
    padding-left: 20px;
}

.checkoutPrduct__image {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

.checkoutProduct__title {
    object-fit: contain;
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__rating {
    display: flex;
    margin-top: -19px;
}

.product__info > button {
   background: #ff9f00;
   border: 1px solid;
   margin-top: 10px;
   border-color: #a88734 #9c7e31 #846a29;
   color: #111;
}

.checkoutProduct__price {
    margin-top: -17px;
}